<!-- Agrega esto a tu archivo de componente HTML -->
<div class="mat-elevation-z8 mt-5">
    <mat-table [dataSource]="listaUsuarios" class="mat-elevation-z8">
  
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombreCompleto">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.nombreCompleto}} </mat-cell>
      </ng-container>
  
      <!-- Correo Column -->
      <ng-container matColumnDef="correoElectronico">
        <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.correoElectronico}} </mat-cell>
      </ng-container>
  
      <!-- Fecha Nacimiento Column -->
      <ng-container matColumnDef="fchNacimiento">
        <mat-header-cell *matHeaderCellDef> Fecha Nacimiento </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.fchNacimiento}} </mat-cell>
      </ng-container>
  
      <!-- Movil Column -->
      <ng-container matColumnDef="movilUsuario">
        <mat-header-cell *matHeaderCellDef> Movil </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.movilUsuario}} </mat-cell>
      </ng-container>
  
      <!-- Rol Acceso Column -->
      <ng-container matColumnDef="rolAcceso">
        <mat-header-cell *matHeaderCellDef> Rol Acceso </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.rolAcceso}} </mat-cell>
      </ng-container>
  
      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let usuario">
          <span>
            <a routerLink="/admin/{{usuario.idUsuarios}}">
              <mat-icon class="text-warning">edit</mat-icon>
            </a>
          </span>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
    </mat-table>
  </div>
  