<h2 class="nombreUsuario" *ngIf="userEmail">{{ userEmail }}</h2>
<div class="informacionUsuario">
    <p>Seguidores: {{numeroDeSeguidores}}</p>
    <p>Siguiendo: {{numeroDeSeguidos}}</p>
</div>
<div *ngIf="publicaciones$ | async as publicaciones">
    <p class="informacionUsuario">Publicaciones: {{ publicaciones.length }}</p>
  

    <div class="row">
      <div class="col-4" *ngFor="let publicacion of publicaciones">
        <div class="imagen-contenedor">
          <img [src]="publicacion.downloadURL" alt="Imagen de la publicación" class="img-fluid">
          <i (click)="confirmarEliminar(publicacion)" class="bi bi-trash bg bg-danger"></i>
        </div>
      </div>
    </div>
</div>