<section class="background-radial-gradient vh-100 overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
           Recuperación<br />
            <span style="color: hsl(216, 20%, 5%)">de contraseña</span>
          </h1>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
  
          <div id="formularioInicio" class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
          
  
                <!-- Email -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="correoElectronico">Correo</label>
                  <input type="text" id="correoElectronico" name="correoElectronico" class="form-control" #correoElectronico />
                </div>
  
  
  
                <!-- Botón de Iniciar Sesión -->
                <button type="submit" class="btn btn-primary btn-block mb-4" (click)="recuperarContrasena(correoElectronico.value)" >
                  Recuperar
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>