
<div *ngIf="publicaciones$ | async as publicaciones; else loading">
    <!-- Asumiendo que todas las publicaciones son del mismo usuario, mostramos el correo del usuario una vez. -->
    <h2 class="nombreUsuario" *ngIf="publicaciones.length > 0">{{ publicaciones[0].correoElectronico }}</h2>
    
    <h2 class="nombreUsuario" *ngIf="publicaciones.length === 0 && userEmailSinPublic">{{ userEmailSinPublic }}</h2>

    <div class="informacionUsuario">
        <p>Publicaciones: {{ publicaciones.length }}</p>
        <p>Seguidores: {{numeroSeguidores}}</p>
        <p>Siguiendo: {{numeroSeguidos}}</p>

        <button (click)="toggleSeguirDejarDeSeguir()" class="btn btn-primary">
            {{ esSeguido ? 'Dejar de seguir' : 'Seguir' }}
          </button>
    </div>

    


    <!-- Contenedor de la cuadrícula de imágenes -->
    <div class="row">
        <!-- Crear una columna para cada imagen. Utilizamos 'col-4' para tener tres columnas por fila. -->
        <div class="col-4" *ngFor="let publicacion of publicaciones">
            <div class="imagen-contenedor">
                <img [src]="publicacion.downloadURL" alt="Imagen de la publicación" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <p>Cargando publicaciones...</p>
</ng-template>