.nombreUsuario {
    margin-top: 60px;
    text-align: center;
}

.informacionUsuario {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.imagen-contenedor {
    border: 2px solid #000; /* Borde negro de 2px */
    padding: 5px; /* Espaciado interior para que la imagen no toque el borde */
    box-sizing: border-box; /* Asegura que el padding y el borde sean incluidos en el ancho y alto total */
    height: 200px; /* Altura fija para todas las imágenes */
    display: flex; /* Utilizado para centrar la imagen dentro del contenedor */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda del tamaño del contenedor */
}

.img-fluid {
    max-height: 100%; /* Asegura que la imagen se ajuste al contenedor */
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin perder sus proporciones */
}